<h1>{{titulo}}</h1>
<button class="btn btn-primary">Crear</button>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Estado</th>
      <th>Fecha Creación</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{producto.productId}}</td>
      <td>{{producto.code}}</td>
      <td>{{producto.name}}</td>
      <td>{{producto.price}}</td>
      <td *ngIf="producto.active">
        <button class="btn btn-info">Desactivar</button>
      </td>
      <td *ngIf="!producto.active">
        <button class="btn btn-success">Activar</button>
      </td>
      <td>{{producto.creationDate}}</td>
      <td>
        <button class="btn btn-warning">Editar</button>
      </td>
      <td>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page) = "paginar($event)"
              showFirstLastButtons
              class="float-left mx-2"
>
</mat-paginator>
